/* === FONDO GENERAL === */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('../img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

body {
    background-color: #111;
    color: white;
}

.admin-card {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 15px;
}

.logo-image {
    height: 80px;
}

.table {
    color: #fff;
}

.table td, .table th {
    border-bottom: 1px dashed #444;
}

.btn-outline-warning {
    border-radius: 10px;
}

.suggestions-box {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

.suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.no-results {
    padding: 5px 10px;
    color: #999;
}
